%li.comment-rank-content__list__block
  //トップ画面 コメントランキングブロック
  .index-content
    .top-area
      .num
        = i
      .user-meta
        .avatar
          = link_to "/users/#{pick.user.id}" do
            - if pick.user.avatar.present?
              %img{style: "background-image: url('#{news.picks.last.user.avatar}')"}
            - else
              %img
        .name
          = pick.user.username
      .following
        - if user_signed_in?
          - if current_user.id == pick.user.id
          - else
            - unless current_user.id == pick.user.id
              #follow_form
                - if current_user.following?(pick.user)
                  = form_for(current_user.following_relationships.find_by(following_id: pick.user.id), html: {method: :delete}, remote: true) do |f|
                    %button
                      = image_tag "follow-button-on"
                - else
                  = form_for(current_user.following_relationships.build(following_id: pick.user.id), remote: true) do |f|
                    = f.hidden_field :following_id
                    %button
                      = image_tag "follow-button-off.5076162e.png"
    .bottom-text-area
      .comment-content
        .comment-content__inner
          = pick.text
      .news-content
        .news-content__inner
          = pick.product.title

