%li.fin-content__list__block
  //トップ画面 金融・マーケットブロック
  .image-area
    = link_to "/news/#{news.id}" do
      %img{style: "background-image: url('#{news.image_url}')"}
  .text-area
    .news-title
      = news.title
    .picker-space
      - if news.picks.last.present?
        .picker-space__top
          .picker-space__top__left
            - if news.picks.last.user.avatar.present?
              %img{style: "background-image: url('#{news.picks.last.user.avatar}')"}
            - else
              %img
          .picker-space__top__right
            .top
              = news.picks.last.user.username
            .bottom
              = news.picks.last.user.company
        .picker-space__bottom
          .comment
            = news.picks.last.text
      - else
        .picker-space__top
          .picker-space__top__left
          .picker-space__top__right
            .top
            .bottom
        .picker-space__bottom
          .comment
            まだPickはありません
    / %ul.picker-list
    /   %li.picker-list__avatar
    /   %li.picker-list__avatar
    .meta
      .news-site
        = news.site_name
      .pick-time
        = time_ago_in_words(news.created_at) + "前"

