.inovation-content-mm
  //トップ画面 イノベーションブロック
  .inovation-content-block
    .inovation-content-block__top
      .title
        イノベーション
      .logo
      .inherit-color
        = link_to "イノベーション 一覧を見る", "/categories/9"
    .inovation-content-block__main
      .inovation-content-block__main__left
        - @inov_news.each do |news|
          = link_to "/news/#{news.id}" do
            .news_block
              .left-img-area
                %img{style: "background-image: url('#{news.image_url}')"}
              .right-text-area
                .title-area
                  = news.title
                .picker-area
                .bottom-area
                  = time_ago_in_words(news.created_at) + "前"
      .inovation-content-block__main__right
        %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/tHK-wKdggbQ", :width => "400"}

