%li.user-rank-content__list__block
  //トップ画面 ユーザーランキングブロック
  .index
    .rank-area
      .number
        = i
    .user-avatar
      = link_to "/users/#{user.id}" do
        - if user.avatar.present?
          %img{style: "background-image: url('#{user.avatar}')"}
        - else
          %img
    .user-info
      .name
        = user.username
      .title
        = user.company
        = user.position
      .following-count
        .left-area
          週間 Liked ユーザー数:
        .right-area
          = user.picks.all.sum(:likes_count)
    .following
      - if user_signed_in?
        - if current_user.id == user.id
        - else
          - unless current_user.id == user.id
            #follow_form
              - if current_user.following?(user)
                = form_for(current_user.following_relationships.find_by(following_id: user.id), html: {method: :delete}) do |f|
                  %button
                    = image_tag "follow-button-on"
              - else
                = form_for(current_user.following_relationships.build(following_id: user.id)) do |f|
                  = f.hidden_field :following_id
                  %button
                    = image_tag "follow-button-off.5076162e.png"

