.footer
  //トップ画面 フッターブロック
  .footer-block
    .footer-block__links
      = link_to "NewsPicks について", ""
      = link_to "利用規約"
      = link_to "コンテンツの利用について"
      = link_to "個人情報保護方針"
      = link_to "広告掲載"
    .footer-block__social-icon
      = image_tag "twitter.f04be6e0.png";
      = image_tag "facebook.89083ca0.png";
    .footer-block__social-action
    .footer-block__store
      = image_tag "google_play.825eece9.png";
      = image_tag "app_store.a047c749.png";

