.search-result-page-search-tool-bar
  .search-result-page-search-tool-bar-pick PICK数:指定なし▼
  .search-result-page-search-tool-bar-period 期間:指定なし▼
  .search-result-page-search-tool-bar-genre 記事種別:全て▼
  .search-result-page-search-tool-bar-soot ソート順:おすすめ▼
.search-result-page-content
  .search-result-page-leftcontent
    .search-result-page-leftcontent-news
      - if @products.present?
        .search-result-page-leftcontent-news-topnews
          - @products.each do |product|
            .search-result-page-leftcontent-news-content
              .search-result-page-leftcontent-news-content-img
                %img{:src => "#{product.image_url}"}/
              .search-result-page-leftcontent-news-content-title
                %a{:href => "/news/#{product.id}"}
                  = product.title
              .search-result-page-leftcontent-news-content-tag
                = product.site_name
                |
                = product.created_at.to_s(:created_at)
              .search-result-page-leftcontent-news-content-text 記事の内容は二行まで見れるようになっています。記事の内容は二行まで見れるようになっています。記事の内容は二行まで見れるようになっています。記事の内容は二行まで見れるようになっています。記事の内容は二行まで見れるようになっています。
      - else
        .no-result
          .no-result-title
            ニュースの検索結果がありませんでした。
          .no-result-title-top
            ・検索キーワードをスペース区切りで入力してみてください
          .no-result-title-bottom
            ・より一般的なキーワードに置き換えてみてください
  .search-result-page-rightcontent
    .search-result-page-rightcontent-keywordcomment キーワードに関するコメント
    - if @picks.present?
      - @picks.each do |pick|
        .search-result-page-rightcontent-comment
          %a{:href => "/users/#{pick.user.id}"}
            .search-result-page-rightcontent-comment-img
              - if pick.user.avatar.present?
                %img{:src => "#{pick.user.avatar}"}/
              - else
                %img
            .search-result-page-rightcontent-comment-username
              = pick.user.username
            .search-result-page-rightcontent-comment-userdata
              = pick.user.company
              = pick.user.position
              = time_ago_in_words(pick.created_at) + "前"
          %a{:href => "#"}
            .search-result-page-rightcontent-comment-usercomment
              = pick.text
            .search-result-page-rightcontent-comment-news
              = pick.product.title
          .search-result-page-rightcontent-comment-newstag
            = pick.product.site_name
            = time_ago_in_words(pick.product.created_at)
        / .search-result-page-rightcontent-comment
        /   %a{:href => "#"}
        /     .search-result-page-rightcontent-comment-img
        /       %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        /     .search-result-page-rightcontent-comment-username 苗字 名前
        /     .search-result-page-rightcontent-comment-userdata 肩書き 24時間前
        /   %a{:href => "#"}
        /     .search-result-page-rightcontent-comment-usercomment コメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行まで
        /     .search-result-page-rightcontent-comment-news ニュースタイトル1行までニュースタイトル1行までニュースタイトル1行まで
        / .search-result-page-rightcontent-comment
        /   %a{:href => "#"}
        /     .search-result-page-rightcontent-comment-img
        /       %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
        /     .search-result-page-rightcontent-comment-username 苗字 名前
        /     .search-result-page-rightcontent-comment-userdata 肩書き 24時間前
        /   %a{:href => "#"}
        /     .search-result-page-rightcontent-comment-usercomment コメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行までコメント3行まで
        /     .search-result-page-rightcontent-comment-news ニュースタイトル1行までニュースタイトル1行までニュースタイトル1行まで
