.search-result-page
  .search-result-page-header
    .seach-result-page-header-top
      %a{:href => "#"}トップ
    .seach-result-page-header-company
      %a{:href => "#"}企業/業界
    .seach-result-page-header-chart
      %a{:href => "#"}チャート
    .seach-result-page-header-comment
      %a{:href => "#"}コメント
    .seach-result-page-header-user
      %a{:href => "#"}ユーザー
    .seach-result-page-header-user
  .search-result-page-user
    .search-result-page-user-users
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
      %a{:href => "#"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            = image_tag "https://newspicks.com/users/194856/cover?width=80&height=80&t=20140706234518000"
          .search-result-page-user-users-user-name 苗字 名前
          .search-result-page-user-users-user-position 肩書き
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount  0
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
