.search-result-page-user
  .search-result-page-user-users
  - if @users.present?
    - @users.each do |user|
      %a{:href => "/users/#{user.id}"}
        .search-result-page-user-users-user
          .search-result-page-user-users-user-img
            - if user.avatar.present?
              = image_tag user.avatar
            - else
              %img
          .search-result-page-user-users-user-name
            = user.username
          .search-result-page-user-users-user-position
            = user.company
            = user.position
          .search-result-page-user-users-user-followinfo
            .search-result-page-user-users-user-followinfo-following
              .search-result-page-user-users-user-followinfo-capting フォロー
              .search-result-page-user-users-user-followinfo-followcount
                = user.followings.count
            .search-result-page-user-users-user-followinfo-follower
              .search-result-page-user-users-user-followinfo-capting フォロワー
              .search-result-page-user-users-user-followinfo-followcount
                = user.followers.count
          .search-result-page-user-users-user-followimg
            = image_tag "https://newspicks.com/images/follow-button-off.5076162e.png"
  - else
    .no-result
      .no-result-title
        ユーザーの検索結果がありませんでした。
      .no-result-title-top
        ・検索キーワードをスペース区切りで入力してみてください
      .no-result-title-bottom
        ・より一般的なキーワードに置き換えてみてください
