.search-result-page-search-tool-bar
  .search-result-page-search-tool-bar-pick LIKE数:指定なし▼
  .search-result-page-search-tool-bar-period 期間:指定なし▼
  .search-result-page-search-tool-bar-soot ソート順:おすすめ▼
.search-result-page-content
  .search-result-page-leftcontent
    .search-result-page-leftcontent-comment-users
      - if @picks.present?
        - @picks.each do |pick|
          .search-result-page-leftcontent-comment-users-user
            %a{href: ("/users/#{pick.user.id}")}
              .search-result-page-leftcontent-comment-users-user-img
                - if pick.user.avatar.present?
                  %img{:src => "#{pick.user.avatar}"}/
                - else
                  %img
              .search-result-page-leftcontent-comment-users-user-name
                = pick.user.username
              .search-result-page-leftcontent-comment-users-user-position
                = pick.user.company
                = pick.user.position
            .search-result-page-leftcontent-comment-users-user-comment
              = pick.text
            .search-result-page-leftcontent-comment-users-user-contlike
              .search-result-page-leftcontent-comment-users-user-contlike-img
                %img{:src => "https://newspicks.com/images/like-g.bad78a75.png"}/
              .search-result-page-leftcontent-comment-users-user-contlike-num 00
              .search-result-page-leftcontent-comment-users-user-contlike-like Like
            .search-result-page-leftcontent-comment-users-user-newstitle
              = link_to "#{pick.product.title}", "/news/#{pick.product.id}"
            .search-result-page-leftcontent-comment-users-user-newssorce
              = pick.product.site_name
      - else
        .no-result
          .no-result-title
            コメントの検索結果がありませんでした。
          .no-result-title-top
            ・検索キーワードをスペース区切りで入力してみてください
          .no-result-title-bottom
            ・より一般的なキーワードに置き換えてみてください
          .search-result-page-leftcontent-comment-users-user-newssorce ニュースソース
.search-result-user-rightcontent
  .search-result-user-rightcontent-keywordcomment キーワードに関連するユーザー
  - if @users.present?
    - @users.each do |user|
      .search-result-user-rightcontent-comment
        %a{:href => "#"}
          .search-result-user-rightcontent-comment-img
            - if user.avatar.present?
              %img{:src => "#{user.avatar}"}/
            - else
              %img
          .search-result-user-rightcontent-comment-username
            = user.username
          .search-result-user-rightcontent-comment-userdata
            = user.company
            = user.position
          .search-result-user-rightcontent-comment-followimg
            %img{:src => "https://newspicks.com/images/follow-button-off.5076162e.png"}/
      / .search-result-user-rightcontent-comment
      /   %a{:href => "#"}
      /     .search-result-user-rightcontent-comment-img
      /       %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
      /     .search-result-user-rightcontent-comment-username 苗字 名前
      /     .search-result-user-rightcontent-comment-userdata 肩書き
      /     .search-result-user-rightcontent-comment-followimg
      /       %img{:src => "https://newspicks.com/images/follow-button-off.5076162e.png"}/
      / .search-result-user-rightcontent-comment
      /   %a{:href => "#"}
      /     .search-result-user-rightcontent-comment-img
      /       %img{:src => "https://newspicks.com/users/1776183/cover?width=56&height=56&t=20180402024100000"}/
      /     .search-result-user-rightcontent-comment-username 苗字 名前
      /     .search-result-user-rightcontent-comment-userdata 肩書き
      /     .search-result-user-rightcontent-comment-followimg
      /       %img{:src => "https://newspicks.com/images/follow-button-off.5076162e.png"}/

