.top-main-content
  .header
    .header__left
      %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
      .text-area
        .top-space
          .count-picks
            64Picks
        .center-main-space
          .title
          【速報】ブロックチェーンがやばい！俺氏発狂！！
        .bottom-space
          .news-site-name
            ファッキンニュース
          .picks-time
            3時間前
    .header__right
      .top
        %img{ style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
        .text-area
          .top-space
            .count-picks
              64Picks
          .center-main-space
            .title
            【速報】ブロックチェーンがやばい！俺氏発狂！！
      .bottom
        %img{ style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
        .text-area
          .top-space
            .count-picks
              64Picks
          .center-main-space
            .title
            【速報】ブロックチェーンがやばい！俺氏発狂！！
  .main
    .main-content
      .latest-news
        .text-area
          .area-title
            新着ニュース
          %ul.news-list
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
            %li.news-block
              .news-block__top
                ウォーレンバフェット、ついに糖尿病！！！
              .news-block__bottom
                .news-text
                .published-time
                  30年前
      %ul.main-content-news

        %li.main-content-news__block
          .image-area
            %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
          .text-area
            .news-title
              ウォーレンバフェット、パフェ食べられるようになった！！
            .picker-space
              .picker-space__top
                .picker-space__top__left
                .picker-space__top__right
                  .top
                    山田太郎
                  .bottom
                    第一生命経済研究所　経済学部
              .picker-space__bottom
                .comment
                  コーラやるから金をくれ
                  コーラやるから金をくれ
            / %ul.picker-list
            /   %li.picker-list__avatar
            /   %li.picker-list__avatar

            .meta
              .news-site
                コカの実コーラ
              .pick-time
                22年前
        %li.main-content-news__block
          .image-area
            %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
          .text-area
            .news-title
              ウォーレンバフェット、パフェ食べられるようになった！！
            .picker-space
              .picker-space__top
                .picker-space__top__left
                .picker-space__top__right
                  .top
                    山田太郎
                  .bottom
                    第一生命経済研究所　経済学部
              .picker-space__bottom
                .comment
                  コーラやるから金をくれ
                  コーラやるから金をくれ
            / %ul.picker-list
            /   %li.picker-list__avatar
            /   %li.picker-list__avatar

            .meta
              .news-site
                コカの実コーラ
              .pick-time
                22年前
        %li.main-content-news__block
          ffff
        %li.main-content-news__block
          ffff
        %li.main-content-news__block
          ffff
        %li.main-content-news__block
          ffff
        %li.main-content-news__block
          ffff
        / .main-content__top-center
        / .main-content__center-left
        / .main-content__center-center
        / .main-content__botttom-left
        / .main-content__bottom-center
        / .main-content__bottom-right
    .banner-advartisement{ style: "background-image: url('https://resources.newspicks.com/banner/pc_make_money_after.png')"}
    .origin-news-content
      .origin-news-content__top
        Newspicksオリジナル
      %ul.origin-news-content__list
        %li.origin-news-content__list__block
          .image-area
            %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
          .text-area
            .news-title
              ウォーレンバフェット、パフェ食べられるようになった！！
            .picker-space
              .picker-space__top
                .picker-space__top__left
                .picker-space__top__right
                  .top
                    山田太郎
                  .bottom
                    第一生命経済研究所　経済学部
              .picker-space__bottom
                .comment
                  コーラやるから金をくれ
                  コーラやるから金をくれ
            / %ul.picker-list
            /   %li.picker-list__avatar
            /   %li.picker-list__avatar

            .meta
              .news-site
                コカの実コーラ
              .pick-time
                22年前
        %li.origin-news-content__list__block
        %li.origin-news-content__list__block
        / %li.origin-news-content__list__block
    .banner-advartisement{ style: "background-image: url('https://resources.newspicks.com/banner/pc_make_money_after.png')"}
    .futured-content
      .futured-content__top
        特集:ニューエリート
      %ul.futured-content__list
        %li.futured-content__list__block
          .image-area
            %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
          .text-area
            .news-title
              ウォーレンバフェット、パフェ食べられるようになった！！
            .picker-space
              .picker-space__top
                .picker-space__top__left
                .picker-space__top__right
                  .top
                    山田太郎
                  .bottom
                    第一生命経済研究所　経済学部
              .picker-space__bottom
                .comment
                  コーラやるから金をくれ
                  コーラやるから金をくれ
            / %ul.picker-list
            /   %li.picker-list__avatar
            /   %li.picker-list__avatar

            .meta
              .news-site
                コカの実コーラ
              .pick-time
                22年前
        %li.futured-content__list__block
        %li.futured-content__list__block
    .inovation-content
      .inovation-content-mm
        .inovation-content-block
          .inovation-content-block__top
            .title
              イノベーション
            .logo
            .inherit-color
              イノベーション 一覧を見る
          .inovation-content-block__main
            .inovation-content-block__main__left
              .top
                .left-img-area
                  %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
                .right-text-area
                  .title-area
                    スペースX、国際宇宙ステーションに『３トンの物資を配達』
                  .picker-area
                  .bottom-area
                    8時間前
              .bottom
                .left-img-area
                  %img{style: "background-image: url('https://contents.newspicks.com/images/news/2931177?updatedAt=20180403020216')"}
                .right-text-area
                  .title-area
                    スペースX、国際宇宙ステーションに『３トンの物資を配達』
                  .picker-area
                  .bottom-area
                    8時間前
            .inovation-content-block__main__right
              %img{style: ""}

    .tech-content
      .tech-content__top
        テクノロジー
      %ul.tech-content__list
        .tech-content__list__block
        .tech-content__list__block
        .tech-content__list__block
    .biz-content
      .biz-content__top
        ビジネス
      %ul.biz-content__list
        .biz-content__list__block
        .biz-content__list__block
        .biz-content__list__block
    .pol-eco-content
      .pol-eco-content__top
        政治・経済
      %ul.pol-eco-content__list
        .pol-eco-content__list__block
        .pol-eco-content__list__block
        .pol-eco-content__list__block
    .fin-content
      .fin-content__top
        金融・マーケット
      %ul.fin-content__list
        .fin-content__list__block
        .fin-content__list__block
        .fin-content__list__block
    .carrior-content
      .carrior-content__top
        キャリア・教育
      %ul.carrior-content__list
        .carrior-content__list__block
        .carrior-content__list__block
        .carrior-content__list__block
    .sports-content
      .sports-content__top
        社会・スポーツ
      %ul.sports-content__list
        %li.sports-content__list__block
        %li.sports-content__list__block
        %li.sports-content__list__block
    .joboff-content
      .joboff-content__top
        ジョブオファー
      %ul.joboff-content__list
        %li.joboff-content__list__block
        %li.joboff-content__list__block
        %li.joboff-content__list__block
    .popu-news-content
      .popu-news-content__top
        過去の人気特集
      %ul.popu-news-content__list
        %li.popu-news-content__list__block
        %li.popu-news-content__list__block
        %li.popu-news-content__list__block
    .anacomment-content
      .anacomment-content__top
        アナリシス
      %ul.anacomment-content__list
        %li.anacomment-content__list__block
        %li.anacomment-content__list__block
        %li.anacomment-content__list__block
    .user-rank-content
      .user-rank-content__top
        ユーザーランキング
      %ul.user-rank-content__list
        %li.user-rank-content__list__block
          .index
            .rank-area
              .number
                1
            .user-avatar
              %img{style: "background-image: url('https://newspicks.com/users/100616/cover?width=100&height=100&t=20180406010046000')"}
            .user-info
              .name
                ホリエモン
              .title
                SNS media & commentater
              .following-count
                .left-area
                  週間 Liked ユーザー数:
                .right-area
                  1000
            .following
              = image_tag "follow-button-off.5076162e.png"
        %li.user-rank-content__list__block
          .index
            .rank-area
              .number
                1
            .user-avatar
              %img{style: "background-image: url('https://newspicks.com/users/100616/cover?width=100&height=100&t=20180406010046000')"}
            .user-info
              .name
                ホリエモン
              .title
                SNS media & commentater
              .following-count
                .left-area
                  週間 Liked ユーザー数:
                .right-area
                  1000
            .following
              = image_tag "follow-button-off.5076162e.png"
        %li.user-rank-content__list__block
        %li.user-rank-content__list__block
    .comment-rank-content
      .comment-rank-content__top
        コメントランキング
      %ul.comment-rank-content__list
        %li.comment-rank-content__list__block
          .index-content
            .top-area
              .num
                1
              .user-meta
                .avatar
                  %img{style: "background-image: url('https://newspicks.com/users/100616/cover?width=100&height=100&t=20180406010046000')"}
                .name
                  堀江貴文
              .following
                = image_tag "follow-button-off.5076162e.png";
            .bottom-text-area
              .comment-content
                .comment-content__inner
                  ああああああああああああああああああああ亜
              .news-content
                .news-content__inner
                  ああああああああ
        %li.comment-rank-content__list__block
          .index-content
            .top-area
              .num
                1
              .user-meta
                .avatar
                  %img{style: "background-image: url('https://newspicks.com/users/100616/cover?width=100&height=100&t=20180406010046000')"}
                .name
                  堀江貴文
              .following
                = image_tag "follow-button-off.5076162e.png";
            .bottom-text-area
              .comment-content
                .comment-content__inner
                  ああああああああああああああああああああ亜
              .news-content
                .news-content__inner
                  ああああああああ
        %li.comment-rank-content__list__block
        %li.comment-rank-content__list__block
      .footer
        .footer-block
          .footer-block__links
            = link_to "NewsPicks について", ""
            = link_to "利用規約"
            = link_to "コンテンツの利用について"
            = link_to "個人情報保護方針"
            = link_to "広告掲載"
          .footer-block__social-icon
            = image_tag "twitter.f04be6e0.png";
            = image_tag "facebook.89083ca0.png";
          .footer-block__social-action
          .footer-block__store
            = image_tag "google_play.825eece9.png";
            = image_tag "app_store.a047c749.png";
