.top-main-content
  .profile
    .user-profile
      .detail
        .cover
        .lavels
          .username
            山田　太郎
          .like-metor
            総 Like 数: 2018
  .follow
    .relative-box
      .picks
        Picks
      .followings
        .count
          100
        .unit
          フォロー
      .followers
        .count
          50
        .unit
          フォロワー
      .search-box-container
        .search-box
          %img.search-icon{:src => "/assets/ic_search_gray.3ffe8312.png"}/
          .search-wrapper
            %input.search{:placeholder => "自分のPickを検索", :type => "search", :value => ""}/




  .main
    .tech-content
      %ul.tech-content__list
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
        = render 'news/tech-content-block'
