= render 'side-bar'
.search-result-page
  .search-result-page-header
    %ol.search-result-page-header-container
      %li.search-result-page-header-container-top.select
        %a トップ
        / %a{:href => "#"}トップ
      %li.search-result-page-header-container-company
        %a 企業/業界
        / %a{:href => "#"}企業/業界
      %li.search-result-page-header-container-comment
        %a コメント
        / %a{:href => "#"}コメント
      %li.search-result-page-header-container-user
        %a ユーザー
        / %a{:href => "#"}ユーザー
  %ul.content
    %li.search-result-news
      = render "news/search-result-news"
    %li.search-result-company.none
      = render "news/search-result-company"
    %li.search-result-comment.none
      = render "news/search-result-comment"
    %li.search-result-user.none
      = render "news/search-result-user"
