#news_detail--wrap
  = render 'side-bar'
  .navgation &#8592; 総合トップ
  .news_detail
    .contents__area
      .news__image
        %img{style: "background-image: url('#{@product.image_url}')"}
        / = image_tag "#{@product.image_url}"
        .news_detail__pick
          .news_detail__pick--cover
          .label
            %span.big
              = @picks.count
            %span.small Picks
      .news
        .news_text
          %h1.title
            = @product.title
          / %h1.title #米ウェイモ：ホンダとの提携合意に近づく、配送用自動運転車開発で
        .meta
          .meta__block
            .icon_image
              = image_tag "publisher.a6ed8ad6.png"
              .caption
                = @product.site_name
          .meta__block
            .icon_image
              = image_tag "time.png"
              .caption
                = time_ago_in_words(@product.created_at) + "前"
        = link_to '続きを読む', "#{@product.page_url}" , class: 'read-more'
    .news_comment
      .news_comment-wrap
        - if user_signed_in?
          .commentarea
            = form_tag "/news/#{@product.id}/picks", method: :post, id: "new_pick" do
              .commentarea__left
                = image_tag "publisher.a6ed8ad6.png"
                .comment__container
                  %textarea.form_text{name: "text", placeholder: "コメントを書く (任意)"}
                  %textarea{name: "user_id", class: "hidden"}
                    = current_user.id
                  %textarea{name: "product_id", class: "hidden"}
                    = @product.id
              .commentarea__right
                .description シェアする
                .sns.twitter
                  = image_tag "twitter.png"
                .sns.facebook
                  = image_tag "facebook.png"
                %input.form_submit{type: 'submit', value: 'Pick'}/
          %hr/
        .comment
          .populars
            .populars_picker
              %h2 注目のコメント
              - if @picks
                - @picks.each do |pick|
                  .comment_container
                    .comment-container-wrap
                      %div
                        .comment_container__header
                          .comment_container__header--left
                            = link_to "/users/#{pick.user.id}" do
                              .image
                                - if pick.user.avatar.present?
                                  = image_tag pick.user.avatar
                                - else
                                  %img
                            .user-profile
                              = link_to "/users/#{pick.user.id}" do
                                %h3.name
                                  = pick.user.username
                              .job
                                = pick.user.company
                                = pick.user.position
                                %span
                                  = time_ago_in_words(pick.created_at) + "前"
                          .comment_container__header--ight
                            .drop-down-button
                              %div ⋮
                      .comment_text
                        .comment_text-wrap
                          = pick.text
                        .like-panel
                          .like
                            .like-wrapper
                              = render partial: 'news/like', locals: { pick: pick, picks: @picks, likes: @likes, like: @like}
              %hr/
