= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main
      .setting-container
        %h1 メールアドレス設定
        .setting-form
          .form-field
            = label_tag(:currentMailAddress ,"現在のメールアドレス")
            %input{disabled:"" ,id:"currentMailAddress" ,name:"currentMailAddress" ,type:"text" ,value:"ユーザのメールアドレス"}
          .error-message-new{style:"display: none;"}
          .form-field
            = label_tag(:newMailAdress ,"新しいメールアドレス")
            %input{id:"newMailAdress" ,name:"newMailAdress" ,type:"text" }
          .form-field
            = label_tag(:newMailAdressConfirm ,"確認")
            %input{id:"newMailAdressConfirm" ,name:"newMailAdressConfirm" ,type:"text" }
        .setting-buttons
          %button.saveBtn{type: "button"} 保存する
