= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main
      .setting-container
        %h1 メールマガジン購読設定
        .setting-form
          .error-message-new{style:"display: none;"}
          .news-letter
            .name 注目ニュース
            = button_tag "購読中" ,type:"button" ,class:"enabled" ,newslettercategoryid:"1"
          .news-letter
            .name 編集部おすすめ特集
            = button_tag "購読中" ,type:"button" ,class:"enabled" ,newslettercategoryid:"2"
          .news-letter
            .name イベントのご案内
            = button_tag "購読中" ,type:"button" ,class:"enabled" ,newslettercategoryid:"3"
          .news-letter
            .name ジョブオファー
            = button_tag "購読中" ,type:"button" ,class:"enabled" ,newslettercategoryid:"4"
          .news-letter
            .name ブランドアカウント
            = button_tag "購読中" ,type:"button" ,class:"enabled" ,newslettercategoryid:"5"
