= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main
      .setting-container
        %h1 パスワード設定
        .setting-form
          .form-field#currentPasswordField
            = label_tag(:password_current ,"現在のパスワード")
            = text_field(:password ,:current ,maxlength:"20")
            .forget-password
              = link_to "パスワード未登録、または忘れた方はこちら", "#", target: "_blank"
          .error-message-new{style:"display: none;"}
          .form-field#newPasswordField
            = label_tag(:password_new ,"新しいパスワード")
            = text_field(:password ,:new)
          .form-field#newPasswordConfirmField
            = label_tag(:password_confirm ,"確認")
            = text_field(:password ,:confirm)
        .setting-buttons
          %button.saveBtn{type: "button"} 保存する
