= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main
      .name-registration
        .name-registration__left
          %p.main
            実名登録が完了していません
          %p.sub
            登録すると自分のコメントをフォロワー以外にも公開できます。
        .name-registration__right
          実名を登録する
      .setting-container
        %h1 アカウント設定
        .setting-form
          = form_for(@user) do |f|
            .error-message
            .form-field
              .cover
                = f.label(:avatar, "アイコン")
                = f.file_field(:avatar)
            .form-field
              = label_tag(:user_id, "ユーザID")
              = text_field(:user, :id, class:"short", value:"#{@user.email}", disabled:"")
            .form-field
              = label_tag(:user_support, "サポートID")
              = text_field(:user, :support, class:"short", value:"カレントユーザのサポートID", disabled:"")
              %div
                %p ※ サポートデスクへのお問合せ時は、こちらをお伝え頂くとスムーズにご案内できます。
            .form-field
              = f.label(:username, "名前")
              = f.text_field(:username)
              / = f.text_field(:user, :name, value:"#{@user.username}")
            .form-field
              = f.label(:company, "会社名")
              = f.text_field(:company)
              / = f.text_field(:user, :company, value:"#{@user.company}")
            .form-field
              = f.label(:position, "役職")
              = f.text_field(:position)
              / = f.text_field(:user, :title, value:"#{@user.position}")
            .form-field
              = label_tag(:user_profile, "プロフィール", class:"top")
              = text_area(:user, :profile, maxlength:"2000", value:"カレントユーザのプロフィール")
            .setting-buttons
              = f.submit "保存する", class: "saveBtn"
              //= button_tag "保存する", type:"button", class:"saveBtn"
            = hidden_field(:user, :mail, value:"カレントユーザのメールアドレス")
            %hr.separator
            .unregister
              .unregister__link
                NewsPicksのアカウントを完全に削除する
