= render partial: "news/main-header"
= render partial: "side-bar.haml"

.settings.cf
  .settings__contents
    .settings__contents__main
      .setting-social
        .setting-container
          %h1 外部サービス連携
          .setting-form
            .social-connect.fb
              .icon
                = image_tag ""
              .name Facebook連携
              %button.connected 連携する
          .setting-form
            .social-connect.tw.last
              .icon
                = image_tag ""
              .name Twitter連携
              %button.connected 連携する
            %h1.bottom-item Pick時にシェアするURLを指定
          .setting-form
            .share-url
              = label_tag(:'share-newspicks' ,"コメント一覧ページをシェア")
            .share-url
              %input#share-newspicks{id:"share-original", name:"shareUrlTypes",type:"radio",value:"original",checked:"checked"}
              = label_tag(:'share-original' ,"記事ページをシェア")
