.user-main-content
  .profile
    .user-profile
      .detail
        .cover
        .lavels
          .username
            山田　太郎
          .like-metor
            総 Like 数: 2018
  .follow
    .relative-box
      .picks
        Picks
      .followings
        .count
          100
        .unit
          フォロー
      .followers
        .count
          50
        .unit
          フォロワー

  .main
    %ul.main__list
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'
      = render 'user/follow_followers_tag'

