.pulldowns.left-menu#menu-leftside{style:"display: none;"}
  .left-menu__main
    = link_to "総合トップ", root_path, class: "menu-item clear-index-cache"
    = link_to "マイニュース", "", class: "menu-item"
    = link_to "オリジナル記事", "/categories/11", class: "menu-item"
    = link_to "特集記事", "/categories/10", class: "menu-item"
  .left-menu__theme
    .title テーマ一覧
    = link_to "テクノロジー", "/categories/1", class: "menu-item"
    = link_to "ビジネス", "/categories/2", class: "menu-item"
    = link_to "政治・経済", "/categories/3", class: "menu-item"
    = link_to "金融・マーケット", "/categories/4", class: "menu-item"
    = link_to "キャリア・教育", "/categories/5", class: "menu-item"
    = link_to "社会・スポーツ", "/categories/6", class: "menu-item"
    = link_to "イノベーション", "/categories/9", class: "menu-item"
    = link_to "ジョブオファー", "/categories/7", class: "menu-item"
