.pulldowns.left-menu#menu-leftside{style:"display: none;"}
  .left-menu__main
    = link_to "総合トップ", root_path, class: "menu-item clear-index-cache"
    = link_to "マイニュース", "", class: "menu-item"
    = link_to "オリジナル記事", "", class: "menu-item"
    = link_to "特集記事", "", class: "menu-item"
  .left-menu__theme
    .title テーマ一覧
    = link_to "テクノロジー", "", class: "menu-item"
    = link_to "ビジネス", "", class: "menu-item"
    = link_to "政治・経済", "", class: "menu-item"
    = link_to "金融・マーケット", "", class: "menu-item"
    = link_to "キャリア・教育", "", class: "menu-item"
    = link_to "社会・スポーツ", "", class: "menu-item"
    = link_to "イノベーション", "", class: "menu-item"
    = link_to "ジョブオファー", "", class: "menu-item"
